table {
    border-collapse: collapse;
    border: 5px solid black;
    width:15%;
    font-family: Arial, sans-serif;
}
th, td {
    border: 3px solid green;
    padding: 10px;
    text-align: center;
    color: black;
    background-color: yellow;
}

td {
    color: black;
    text-align: left;
}

td:first-child {
    background-color: yellow;
    color: black;

}

th {
    color: black;
    font-weight: bold;
    font-size:16px
}