table{
 border-collapse:collapse;
 width: 80%;
 border: 2px solid maroon;
 border-left: 0px;
 border-right: 0px;
}
 tr, td{
 text-align: left;
 background-color: #fffacd;
}

.top td {
 background-color: maroon;
 color: white;
}

th{
font-weight:normal;
}