table{
border: 1px solid black;
border-collapse:collapse;
width: 100%;
}

tr, td{
text-align: center;
border: 1px solid black;
}

th{
text-align: left;
}
th{
font-weight: bold;
background-color: yellow;
}
.bold td{
font-weight: bold;
}